.active {
    color:white;
    text-decoration: none !important;
}

a {
 color: yellow;
 text-decoration: none;
}

a:hover {
    color: white
}

ul {
 list-style: none;
 display: flex;
 padding: 0;
}

li {
 flex-direction: row;
 padding: 15px 25px;
 background: rgba(25, 25, 25, 1);
 border-right: 1px solid yellow;
}

li:hover {
 background: rgba(25, 25, 25, 0.8);
}

