.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
}

thead, tbody {
    display: table-header-group;
    vertical-align: middle;
}

tr {
    display: table-row;
}
td {
    display: table-cell;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th {
    font-weight: bold;
    text-align: left;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
